/* You can add global styles to this file, and also import other style files */
.hover-cursor{
    cursor: pointer;
}
body {
    background-image: url(./assets/background-work-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
